.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.radio-options { 
  flex: 1 1 calc(50% - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(50% - 5px);
}

.submit-button {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  min-height: 50px;
  width: 70%;
  margin: 20px auto 0;
}

button:hover {
  background-color: #0056b3;
}


/* Hide the radio input */
input[type="radio"] {
  display: none;
}

/* Style the label as a button */
label {
  display: inline-block;
  background-color: #fff;
  padding: 1rem 1.5rem;
  margin: 2.5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: capitalize;
  font-size: 16px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

/* Change background color when the radio input is checked */
input[type="radio"]:checked + label {
  background-color: #FF9758;
  color: #000;
}

/* Hover effect */
label:hover {
  background-color: #FF9758;
}

.review-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.review-content a {
  flex: 1 1 calc(50% - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(50% - 5px);
  text-decoration: none;
}

.review-button {
  display: inline-block;
  background-color: #FF9758;
  padding: 1rem 1.5rem;
  margin: 2.5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: capitalize;
  font-size: 16px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

/* Add this to your App.css or a specific CSS module for ChoicesTable */

table {
  width: 100%; /* Full width */
  border-collapse: collapse; /* Collapse borders */
  margin-top: 20px; /* Add some space above the table */
}

table, th, td {
  border: 1px solid #ddd; /* Light grey border */
}

th, td {
  text-align: left; /* Align text to the left */
  padding: 8px; /* Add padding */
}

th {
  background-color: #04AA6D; /* Darker background for headers */
  color: white; /* White text for headers */
}

tr:nth-child(even) {
  background-color: #f2f2f2; /* Zebra striping for rows */
}

tr:hover {
  background-color: #ddd; /* Highlight on hover */
}
